

.site-footer .author-featurette.align-right{
	text-align: right;
}

.site-footer .author-featurette.align-left{
	text-align: left;
}

.site-footer .author-featurette img.author-img {
	margin-top: -20px;
	height: 65px;
	border-radius: 20px;
}

.site-footer .author-featurette img.pull-right{
	margin-left: 40px;
}

.site-footer .author-featurette img.pull-left{
	margin-right: 40px;
}

.site-footer .author-featurette h3{
	font-style: normal;
    font-size: 21px;
}


.site-footer .author-featurette div.author-networks ul {
	padding: 0;
	margin: 0;
}

.site-footer .author-featurette div.author-networks ul li {
	display: inline-block;
}



/* **************************** */

body > footer{
	
	background-color:#F3F3F3;
	color:#5C5C5C;
	height: 180px;
	
	margin-top: 150px;
}

