
.contact{
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}

.contact .author-featurette{
	padding-top: 30px;
	overflow: hidden;
	margin-left: 1em;
	margin-right: 1em;
}

.contact .author-featurette.align-right{
	text-align: right;
}

.contact .author-featurette.align-left{
	text-align: left;
}

.contact .author-featurette img.author-img {
	margin-top: -20px;
	height: 150px;
	border-radius: 20px;
}

.contact .author-featurette img.pull-right{
	margin-left: 40px;
}

.contact .author-featurette img.pull-left{
	margin-right: 40px;
}

.contact .author-featurette h3{
	font-weight: 700;
	font-style: normal;
	letter-spacing: -.02em;
	font-size: 25px;
	line-height: 1.2;
	margin-bottom: 2px;
}

.contact .author-featurette div.author-description{
	font-size: 15px;
}
.contact .author-featurette div.author-networks ul {
	padding: 0;
	margin: 0;
}

.contact .author-featurette div.author-networks ul li {
	display: inline-block;
}



/* **************************** */

body > footer{
	
	background-color:#F3F3F3;
	color:#5C5C5C;
	height: 180px;
	
	margin-top: 150px;
}

