
#mainHeader > div.container{
	padding-left:0;
	padding-right:0;
	max-width: none;
}

.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}
.nav.nav-tabs {
    margin-bottom: 22px;
}
.btn:active, .btn.active {
    box-shadow: none;
}
.container .jumbotron {
    border-radius: 0;
}
.jumbotron {
    font-size: 16px;
}
.jumbotron h1 {
    text-align: left;
}
.form-control {
    box-shadow: none;
}
.has-error div {
    display: block;
    margin-bottom: 20px;
    padding: 5px;
}
.panel-title a {
    display: block;
    margin: -10px -15px;
    outline: medium none;
    padding: 10px 15px;
}
.panel-default > .panel-heading {
    transition: all 0.2s ease-out 0s;
}
.panel-default {
    border: medium none;
}
.navbar-default .navbar-toggle {
    margin-top: 22px;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
.iconRounded {
    border-radius: 50%;
    display: block;
    height: 40px;
    padding-top: 11px;
    text-align: center;
    width: 40px;
}
.iconRounded:before {
    margin: auto;
    text-align: center;
}
.iconBig {
    font-size: 50px;
}
.iconBig.iconRounded {
    border-width: 4px;
    height: 112px;
    padding-top: 29px;
    width: 112px;
}
.boxFeature {
    margin-bottom: 33px;
}
.boxFeature-2 {
    text-align: center;
}
.boxFeature-2 i {
    display: block;
    margin-bottom: 22px;
}
.boxFeature-2 p {
    font-size: 12px;
}
.boxContent {
    padding: 22px;
}
.mb15 {
    margin-bottom: 1.5em;
}
.mb30 {
    margin-bottom: 3em;
}
.mb40 {
    margin-bottom: 4em;
}
.mt15 {
    margin-top: 1.5em;
}
.mt30 {
    margin-top: 3em;
}
.mt40 {
    margin-top: 4em;
}
.noMargin {
    margin: 0;
}
.noPaddingBottom {
    padding-bottom: 0 !important;
}
.noPaddingTop {
    padding-top: 0;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
.isotopeItem .iconBig {
    font-size: 33px;
}
.isotopeItem .iconBig.iconRounded {
    height: 80px;
    padding-top: 18px;
    width: 80px;
}
.isotopeItem .iconLinks a span {
    font-size: 10px;
}
}
@media (min-width: 992px) {
.iconBig, .isotopeItem .iconBig {
    font-size: 66px;
}
.iconBig.iconRounded, .isotopeItem .iconBig.iconRounded {
    height: 125px;
    padding-top: 28px;
    width: 125px;
}
.isotopeItem .iconLinks a span {
    font-size: 12px;
}
}
@media (min-width: 1200px) {
}
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 88px 0 0;
}
h1, h2, h3, h4, h5, h6, legend {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    margin: 0;
}
h1 {
    font-size: 44px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 44px;
    margin-bottom: 17px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
h1.noSubtitle {
    margin-bottom: 90px;
}
.bigTitle, h1.bigTitle, h2.bigTitle, h3.bigTitle {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    padding: 0.5em 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.paralaxText h2 {
    font-size: 3.21em;
    font-weight: 800;
    line-height: 1.5em;
    padding: 0.5em 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.paralaxText blockquote {
    border: medium none;
    font-family: 'Open Sans',sans-serif;
    font-size: 33px;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 33px;
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 17px;
    padding: 0;
}
h2.subTitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 90px;
    padding: 0;
    text-align: center;
}
h2.subTitle:after, h1.noSubtitle:after {
    bottom: -37px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
}
h1.bigTitle:after, .boxWrapper h1:after, .pricingBloc h1:after, .team h1:after, .iconBoxV3 h1:after, #sliderWrapper h1:after, .fullwidthbanner-container h1:after, .camera_caption h1:after, .caption h1:after, .bulle h1:after, .iconBoxV2 .iconBox-body h1:after {
    content: none;
}
h3, legend {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.06em;
    line-height: 22px;
    margin-bottom: 14px;
}
h4 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 6px;
}
h5 {
    font-size: 1.116em;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5714em;
    margin-bottom: 0.916em;
}
h6 {
    font-size: 1em;
    font-style: italic;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 2em;
}
h1 small, h2 small, h3 small, h4 small {
    color: inherit;
    font-size: 0.5em;
    font-weight: 400;
    text-transform: none;
}
p, ul {
    margin-bottom: 12px;
    margin-top: 0;
}
strong {
    font-weight: bold;
}
small, aside {
}
li {
    line-height: inherit;
}
a:link, a:visited {
    font-family: 'Open Sans',sans-serif;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
ul.iconsList li a:hover {
    text-decoration: none;
}
a.readMore {
    display: block;
    font-style: italic;
    margin-top: 0.75em;
}
blockquote {
    border: medium none;
    font-family: 'Open Sans',sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
}
blockquote p {
    font-size: inherit;
}
blockquote small {
    display: inline;
    font-size: 50%;
}
blockquote:before {
    content: "?";
    font-family: 'custom-icons';
    margin-right: 0.5em;
}
blockquote:after {
    content: "?";
    font-family: 'custom-icons';
    margin-left: 0.5em;
}
.quoteRow blockquote:before, .quoteRow blockquote:after {
    content: none;
}
hr {
    margin: 3em 0;
    padding: 0;
}
.hero-unit blockquote {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-style: italic;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
.paralaxText blockquote {
    font-size: 44px;
    line-height: 44px;
}
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
#flexHome h1 {
}
.slice {
    padding: 33px 0;
}
.btn {
    font-size: 18px;
    padding: 15px 20px;
    text-transform: uppercase;
    transition: all 0.2s ease-out 0s;
}
.btn-lg {
    font-size: 22px;
    padding: 18px 23px;
}
.btn-sm {
    border-radius: 4px;
    font-size: 12px;
    padding: 10px 13px;
}
.btn-xs {
    border-radius: 4px;
    font-size: 10px;
    padding: 4px 7px;
}
.btn-link {
    padding: 0;
    text-shadow: none;
    text-transform: none;
}
.btn i {
    margin-right: 0.5em;
}
.ctaBox {
    padding: 33px 11px;
}
.ctaBoxFullwidth {
    padding: 0;
}
.ctaBox a {
    margin-top: 22px;
}
.ctaBox h1 {
    border: medium none;
    font-family: 'Open Sans',sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 33px;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    text-transform: none;
}
@media (max-width: 767px) {
.btn-lg {
    font-size: 18px;
    padding: 14px 18px;
}
}
@media (min-width: 768px) {
.slice {
    padding: 66px 0;
}
}
@media (min-width: 992px) {
.ctaBox a {
    float: right;
    margin-top: 0;
}
}
@media (min-width: 1200px) {
}
#paralaxSlice1, #paralaxSlice2, #paralaxSlice4, #paralaxSlice5, #paralaxSlice6, #paralaxSlice7, #paralaxSlice8, #paralaxSlice9, #paralaxSlice10, #paralaxSlice11, #paralaxSlice12, #homeFullScreen {
    background-attachment: scroll;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.maskParent {
    height: 100%;
    position: relative;
    width: 100%;
}
.paralaxText {
    padding-bottom: 66px;
    padding-top: 66px;
    position: relative;
    text-align: center;
}
.paralaxMask {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
#paralaxSlice1, #paralaxSlice2, #paralaxSlice3, #paralaxSlice4, #paralaxSlice5, #homeFullScreen {
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
}
}
#mainHeader {
    background: none repeat scroll 0 0 #EEEEEE;
}
.navbar-brand {
    padding-left: 50px;
    padding-top: 30px;
}
.fixedHeader {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.fixedHeader #mainMenu li a {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.fixedHeader .nav-brand {
    margin-top: 0.6em;
    width: 100px;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
.navbar-nav > li > a {
    display: block;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-out 0s;
    vertical-align: middle;
}
.navbar-nav > li > a i {
    color: #CCCCCC;
    font-size: 16px;
    padding: 20px 0 10px;
    text-align: center;
}
.navbar-nav > li > a:hover i, .navbar-nav > li.active > a i {
    color: #FFFFFF;
}
#mainHeader .pull-right {
    float: none !important;
}
@media (max-width: 767px) {
.navbar-nav > li > a i {
    font-size: 18px;
    margin-right: 10px;
}
}
@media (min-width: 768px) {
.navbar-nav > li > a i {
    display: block;
}
.navbar-nav > li > a {
    height: 88px;
    padding-bottom: 0;
    padding-top: 0;
}
#mainHeader .pull-right {
    float: right !important;
}
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
body#fullScreen {
    padding-top: 0;
}
body#fullScreen #mainHeader {
    display: none;
}
#home {
    padding-top: 44px;
}
#mapWrapper {
    height: 350px;
}
#homeFullScreen {
    background-image: url("../images/theme-pics/big-city.jpg");
    display: table;
    height: 100%;
}
#homeFullScreen .maskParent {
    display: table;
}
#fullScreenSliderWrapper {
    display: table-cell;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.btn.homeBtn {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.25);
    position: relative;
}
#logoBig img {
    margin: auto;
    position: relative;
    width: 300px;
}
#homeFullScreen #flexHome {
    margin: 0;
}
#homeFullScreen #flexHome h1, #homeFullScreen #flexHome .flex-control-nav {
    margin-bottom: 44px;
    text-align: center;
}
#homeFullScreen .flexslider .slides > li {
    height: 80px;
}
@media (max-width: 767px) {
#homeFullScreen #flexHome h1 {
    font-size: 22px;
}
#logoBig {
    padding: 0 11px;
}
}
@media (min-width: 768px) {
#home {
    padding-top: 70px;
}
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
.newsText {
    margin-bottom: 22px;
    padding: 20px 20px 25px;
}
.newsText h3 {
    margin-bottom: 8px;
}
.date {
    font-size: 12px;
    font-style: italic;
    line-height: 12px;
}
.newsText p {
    font-size: 12px;
}
footer {
    padding: 44px 0;
}
#footerLogo {
    margin-bottom: 22px;
}
#footerRights {
    font-size: 12px;
    padding: 22px;
}
@media (min-width: 768px) {
.footerWidget {
    float: right;
}
}
#flexHome {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 0;
}
#flexHome .flex-control-nav {
    margin-bottom: -44px;
    text-align: left;
}
#flexHome h1 {
    display: inline-block;
    font-size: 32px;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 11px;
    padding: 0;
    text-align: left;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    width: 100%;
}
#flexHome h1:after {
    content: "";
}
#flexHome h2 {
    display: inline-block;
    text-align: left;
}
.flexslider .slides > li {
    height: 110px;
}
.flex-control-nav {
    margin-top: 22px;
    position: static;
}
.flex-control-nav li {
    margin-left: 0;
    margin-right: 11px;
}
.flex-control-nav {
    display: none;
}
.owl-buttons {
}
.owl-theme .owl-controls .owl-buttons div {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-family: 'custom-icons';
    font-size: 3em;
    position: absolute;
    text-align: center;
    top: 42%;
}
.owl-next {
    right: 0;
}
.owl-prev {
    left: 0;
}
.owl-next:before {
    content: "?";
}
.owl-prev:before {
    content: "?";
}
.owl-theme .owl-controls {
    margin-top: 22px;
}
@media (max-width: 400px) {
.flexslider .slides > li {
    height: 120px;
}
#homeFullScreen .flexslider .slides > li {
    height: 60px;
}
#flexHome h2 {
    font-size: 12px;
}
}
@media (min-width: 768px) {
.newsText {
    margin-bottom: 0;
}
#flexHome h1 {
    font-size: 40px;
}
#flexHome {
    margin-top: 44px;
}
.flex-control-nav {
    display: block;
}
.flexslider .slides > li {
    height: 160px;
}
#homeFullScreen .flexslider .slides > li {
    height: 80px;
}
}
@media (min-width: 992px) {
#flexHome h1 {
    font-size: 50px;
}
#flexHome {
    margin-top: 66px;
}
.flexslider .slides > li {
    height: 200px;
}
#homeFullScreen .flexslider .slides > li {
    height: 100px;
}
}
@media (min-width: 1200px) {
#flexHome h1 {
    font-size: 80px;
}
#flexHome {
    margin-top: 88px;
}
.flexslider .slides > li {
    height: 250px;
}
}
nav#filter li {
    display: inline-block;
    list-style: none outside none;
}
.isotopeItem {
    margin-bottom: 22px;
}
.isotopeItem .boxContent {
    margin-top: 22px;
    padding: 0;
}
header#project {
    padding: 22px 0;
}
#project h1 {
    text-align: left;
}
#pageslide {
    background-color: #FFFFFF;
    box-shadow: none;
    color: #000000;
    display: none;
    height: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#portfolioSheetWrapper .stage {
    height: auto;
    overflow: auto;
    position: relative;
    width: 100%;
}
#portfolioSheetWrapper .content {
    width: 100%;
}
#verifyImg {
    margin-bottom: 11px;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
input#verify {
    margin-top: 0;
}
}
#preloader {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 10000;
}
#status {
    border-radius: 11px;
    height: 100px;
    left: 0;
    margin-top: -100px;
    padding-top: 15px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 100%;
}
#status img {
    margin-bottom: 22px;
}
.imgHover article {
    position: relative;
}
.mask {
    background: none repeat scroll 0 0 #4FAFC2;
    display: none;
    left: 15px;
    position: absolute;
    top: 0;
    z-index: 0;
}
.iconLinks {
    display: none;
    position: relative;
}
.iconLinks a {
    display: inline-block;
    text-decoration: none;
}
.iconLinks a:hover i {
    transition: all 0.2s ease-out 0s;
}
.iconLinks a span {
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: -30px;
    width: 100%;
}
.mediaHover {
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.ie8 .mask {
}
ul.socialNetwork {
    display: block;
    padding: 0;
}
ul.socialNetwork li {
    display: inline-block;
    list-style-type: none;
}
.pricingBloc {
    margin-top: 22px;
    text-align: center;
}
.pricingBloc ul {
    list-style-type: none;
    margin: 0;
    padding: 0 1.5em;
}
.pricingBloc ul li {
    padding: 1.5em 0;
}
.pricingBloc h2 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    padding: 11px;
}
.pricingBloc h3 {
    display: block;
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 22px;
}
.pricingBloc h3 span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: normal;
    margin: 11px 0 0;
}
.pricingBloc p {
    margin-bottom: 0;
    padding: 1.5em;
}
.pricingBloc.focusPlan {
    margin-top: 0;
}
.pricingBloc.focusPlan h3 {
    padding: 1.25em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.videoWrapper {
    height: 0;
    padding-bottom: 54%;
    padding-top: 25px;
    position: relative;
}
.videoWrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
p.credits {
    margin-bottom: 1.5em;
    padding: 1.5em;
}
.sharrre .button {
    float: left;
    width: 60px;
}
body#comingSoon {
    background: none repeat scroll 0 0 #4B4A4A;
    padding-top: 0;
}
#comingSoon .bgComingSoon {
    text-align: center;
}
#comingSoon h1 {
    color: #EEEEEE;
}
.comingSoonLogo {
    margin: 22px auto;
}
.bgComingSoon {
    padding-bottom: 10%;
    padding-top: 10%;
}
.countdown_amount {
    color: #333333;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 44px;
    font-weight: 300;
    line-height: 0;
    padding-top: 60px;
}
.countdown_section {
    border: 3px solid #EEEEEE;
    border-radius: 50%;
    display: inline-block;
    height: 150px;
    margin: 10px;
    text-align: center;
    width: 150px;
}
#defaultCountdown {
    text-align: center;
}
.logoImg {
    border: 2px solid #EEEEEE;
    height: 200px;
    width: 200px;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
#defaultCountdown {
    margin-top: 70px;
}
}
@media (min-width: 1200px) {
}




/* ***************************** */

.panel-default > .panel-heading {
    background: none repeat scroll 0 0 #4FAFC2;
}
.panel-default > .panel-heading:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
.panel-default > .panel-heading:hover a {
    color: #4FAFC2;
}
.panel-title > a {
    color: #FFFFFF;
}
.panel-title > a:hover {
    text-decoration: none;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #777777;
}
blockquote small {
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    color: #222222;
}
h2 {
    color: #888888;
}
h2 i {
    color: #999999;
}
h2.subTitle:after, h1.noSubtitle:after {
    background-color: #4FAFC2;
}
.paralaxText blockquote:before, .paralaxText blockquote:after {
    color: #FFFFFF;
}
#home, #paralaxSlice1, #paralaxSlice2, #paralaxSlice3, #paralaxSlice4 {
    background-color: #4FAFC2;
}
#home {
    background-image: url("../images/theme-pics/paralax-blue-3.jpg");
}
#paralaxSlice1 {
    background-image: url("../images/theme-pics/paralax-1.jpg");
}
#paralaxSlice2 {
    background-image: url("../images/theme-pics/paralax-blue-2.jpg");
}
#paralaxSlice3 {
    background-image: url("../images/theme-pics/paralax-blue-3.jpg");
}
#paralaxSlice4 {
    background-image: url("../images/theme-pics/paralax-4.jpg");
}
.paralaxText blockquote, .paralaxText h1, .paralaxText h2, .paralaxText h3, .paralaxText p, .paralaxText i {
    color: #FFFFFF;
}
a {
    color: #4FAFC2;
}
a:hover, .scrollspyNav .active a {
    color: #4FAFC2;
}
ul.iconsList li a {
    color: #555555;
}
ul.iconsList li a:hover, ul.iconsList i {
    color: #4FAFC2;
}
.btn {
    background: none repeat scroll 0 0 #4FAFC2;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}
.btn:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #EEEEEE;
    color: #4FAFC2;
    text-shadow: none;
}
.btn-primary {
    background: none repeat scroll 0 0 #006DCC;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background: none repeat scroll 0 0 #555555;
}
.btn-info {
    background: none repeat scroll 0 0 #49AFCD;
}
.btn-success {
    background: none repeat scroll 0 0 #5BB75B;
}
.btn-warning {
    background: none repeat scroll 0 0 #FAA732;
}
.btn-danger {
    background: none repeat scroll 0 0 #DA4F49;
}
.btn-link, .btn-link:active, .btn-link[disabled], .btn-link:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    color: #49AFCD;
}
.btnWrapper {
    border: 1px solid #CCCCCC;
}
#mainHeader {
    background-color: #FFFFFF;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
#mainHeader .navbar-inner {
    background: none repeat scroll 0 0 #444444;
    filter: none !important;
}
#mainMenu ul li a, #resMainMenu ul li a {
    color: #444444;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none repeat scroll 0 0 #4FAFC2;
    color: #FFFFFF;
}
footer {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #777777;
}
#footerRights {
    background-color: #FFFFFF;
    color: #999999;
}
p.credits {
    color: #555555;
}
p.credits a {
    color: #4FAFC2;
}
#home h1 {
    color: #FFFFFF;
}
.flexslider {
    box-shadow: none;
}
.slides .txt div {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
}
.flexslider .flex-direction-nav a {
    background-color: #4FAFC2;
}
.flexslider .flex-control-paging li a:hover, #sliderWrapper .flex-control-paging li a.flex-active {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #FFFFFF;
}
.flexslider .flex-control-paging li a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.flexslider .flex-control-nav {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.flexslider h1 {
    background-color: #4FAFC2;
    color: #FFFFFF;
}
.flexslider h2 {
    background-color: #333333;
    color: #FFFFFF;
}
.flexslider .caption p {
    background-color: #FFFFFF;
    color: #555555;
}
#flexHome h1 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
#flexHome h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
nav#filter a {
    background-color: #EEEEEE;
    color: #555555;
}
nav#filter a:hover, nav#filter a.current {
    background-color: #4FAFC2;
    color: #FFFFFF;
}
li.filterTitle {
    color: #4F6266;
}
section#projectDescription {
    background-color: #F8F8F8;
}
.mask {
    background-color: #4FAFC2;
}
.iconLinks a span {
    color: #FFFFFF;
}
.pricingBloc {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.pricingBloc ul li {
    border-bottom: 1px solid #DDDDDD;
    color: #444444 !important;
}
.pricingBloc ul li:last-child {
    border-bottom: medium none;
}
.pricingBloc h2 {
    background-color: #555555;
    border: medium none;
    color: #888888 !important;
}
.pricingBloc h3 {
    background-color: #777777;
    color: #FFFFFF !important;
}
.pricingBloc p {
    background-color: #EEEEEE;
    color: #444444 !important;
}
.pricingBloc.focusPlan {
    border-color: #D1D1D1;
    margin-top: 0;
}
.pricingBloc.focusPlan h2 {
    background-color: #333333;
    color: #FFFFFF !important;
}
.pricingBloc.focusPlan h3 {
    background-color: #4FAFC2;
    color: #FFFFFF !important;
    padding: 1.25em;
}
.form-control:focus {
    background-color: #DDDDDD;
    border: medium none;
    box-shadow: none !important;
}
.form-control {
    background-color: #EDEDED;
    border: medium none;
    color: #444444;
}
.has-error .form-control {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.has-error div {
    background-color: #B94A48;
    border: medium none;
    color: #FFFFFF;
}
#projectQuote, #projectQuote h3 {
    background: none repeat scroll 0 0 #DDDDDD;
    color: #444444;
}
.boxFeature i {
    color: #4FAFC2;
}
.slice {
    background-color: #FFFFFF;
}
.ctaBox {
    border: 2px solid rgba(0, 0, 0, 0.05);
}
.ctaBoxFullwidth {
    border: medium none;
}
.ctaBox blockquote {
    color: #FFFFFF;
}
.color1, .slice.color1, .bulle.color1, .ctaBox.color1 {
    background-color: #F7F7F7;
    color: #444444;
}
.color1 h1, .color1 h2, .color1 h3, .color1 h4, .color1 blockquote, .color1 a {
    color: #444444;
}
.color1 a.btn {
    color: #FFFFFF;
}
.color1 a.btn:hover {
    color: #4FAFC2;
}
.color4, .slice.color4, .bulle.color4, .ctaBox.color4 {
    background-color: #4FAFC2;
    color: #FFFFFF;
}
.color4 h1, .color4 h2, .color4 h3, .color4 h4, .color4 blockquote, .color4 a {
    color: #FFFFFF;
}
.color4 h2.subTitle:after, .color4 h1.noSubtitle:after {
    background: none repeat scroll 0 0 #FFFFFF;
}
.iconRounded {
    background-color: #FFFFFF;
    border: 2px solid #4FAFC2;
    color: #4FAFC2;
}
.iconRounded:hover, .color1 .iconRounded:hover {
    background-color: #4FAFC2;
    color: #FFFFFF;
}
.color1 .iconRounded {
    color: #4FAFC2;
}
.color4 .iconRounded {
    background-color: #FFFFFF;
    color: #4FAFC2;
}